div.wrapper {
  height: 100%;
  width: 100%;

  div.header {
    height: 2.5em;
    width: 100%;
    background-color: cornflowerblue;
  }

  div.content {
    padding: 1em 2em;
    height: calc(100% - 2.5em);
    width: calc(100% - 4em);
  }
}


