div.wrapper {
  height: 100%;
  width: 100%;

  div.header {
    padding: 20px;
    height: 50px;
    width: 100%;
    background-color: cornflowerblue;
  }

  div.content {
    padding: 20px 40px;
    margin-left: 200px;
    height: calc(100% - 50px);
    width: calc(100% - 400px);
  }
}


